<!-- 

  add following scripts in head 
  <script src="https://cdn.tailwindcss.com"></script>

  add following script at the end of body tag
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
-->

<header class=" relative shadow-lg px-3 py-2">
    <nav class="flex justify-between">
      <div class="w-[130px] md:w-[200px] flex items-center">
        <!--<img src="https://i.postimg.cc/MZCBXb1K/logo.png" alt="LOGO" srcset="">-->
        <p class="text-2xl bg-clip-text text-transparent bg-gradient-to-r from-[#2b68e0] to-[#e710ea] ">EcomeSite</p>
      </div>
      <div class="flex items-center gap-3">
        <div class="navLinks duration-500 absolute md:static md:w-auto w-full md:h-auto h-[85vh] bg-white dark:bg-slate-950 flex md:items-center gap-[1.5vw] top-[100%] left-[-100%] px-5 md:py-0 py-5 ">
          <ul class="flex md:flex-row flex-col md:items-center md:gap-[2vw] gap-8">
            <li class="relative max-w-fit pr-3 md:pr-0 py-1 after:bg-gradient-to-r from-[#2b68e0] to-[#e710ea]  after:absolute after:h-1 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300"><a class="text-white" href="#">Home</a></li>
            <li class="relative max-w-fit pr-3 md:pr-0 py-1 after:bg-gradient-to-r from-[#2b68e0] to-[#e710ea]  after:absolute after:h-1 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300"><a class="text-white" href="#">Faculty</a></li>
            <li class="relative max-w-fit pr-3 md:pr-0 py-1 after:bg-gradient-to-r from-[#2b68e0] to-[#e710ea]  after:absolute after:h-1 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300"><a class="text-white" href="#">Courses</a></li>
            <li class="relative max-w-fit pr-3 md:pr-0 py-1 after:bg-gradient-to-r from-[#2b68e0] to-[#e710ea]  after:absolute after:h-1 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300"><a class="text-white" href="#">About Us</a></li>
            <li class="relative max-w-fit pr-3 md:pr-0 py-1 after:bg-gradient-to-r from-[#2b68e0] to-[#e710ea]  after:absolute after:h-1 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300"><a class="text-white" href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="flex items-center gap-2">
          <button type="button" class="bg-clip-text hover:bg-clip-border text-transparent hover:text-white  bg-gradient-to-br from-[#2b68e0] to-[#e710ea] border-solid border-2 border-[#5356e3]  font-bold text-white px-5 py-2 rounded-md " routerLink="/login" routerLinkActive="router-link-active" >Sign Up</button>
          <button type="button" class="hover:bg-clip-text hover:text-transparent bg-gradient-to-br from-[#2b68e0] to-[#e710ea] border-solid border-2 border-[#5356e3]  font-bold text-white px-5 py-2 rounded-md " routerLink="/register" routerLinkActive="router-link-active" >Login</button>

          <!-- <ion-icon name="menu" class="text-[30px] cursor-pointer md:hidden"></ion-icon> -->
          
        </div>
      </div>
    </nav>
  </header>