<div class="bg-gradient-to-tr from-slate-950 to-slate-950 pt-5 w-full flex justify-center items-center">
    <div class="bg-slate-950 w-full sm:w-1/2 md:w-9/12 lg:w-1/2 shadow-md flex flex-col md:flex-row items-center mx-5 sm:m-0 rounded">
      <div class="w-full order-2 md:w-1/2 hidden md:flex flex-col justify-center items-center text-white">
        <h1 class="text-3xl">Hello</h1>
        <p class="text-5xl font-extrabold">Welcome !</p>
      </div>
      <div class="bg-white order-1 w-full md:w-1/2 flex flex-col items-center py-32 px-8">
        <h3 class="text-3xl font-bold text-slate-950 mb-4">
          Sign Up
        </h3>
        <form action="#" class="w-full flex flex-col justify-center">
          <div class="mb-4">
            <input type="email" placeholder="Email"  class="w-full p-3 rounded border placeholder-gray-400 focus:outline-none focus:border-slate-950" />
          </div>
          <div class="mb-4">
            <input type="password" placeholder="Password" class="w-full p-3 rounded border placeholder-gray-400 focus:outline-none focus:border-slate-950" />
          </div>
          <button class="bg-slate-950 font-bold text-white focus:outline-none rounded p-3">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>