<div class="bg-gradient-to-tr from-slate-950 to-slate-950 pt-5 w-full flex justify-center items-center">
    <div class="bg-slate-950 w-full sm:w-1/2 md:w-9/12 lg:w-1/2 shadow-md flex flex-col md:flex-row items-center mx-5 sm:m-0 rounded">
      <div class="w-full md:w-1/2 hidden md:flex flex-col justify-center items-center text-white">
        <h1 class="text-3xl">Hello</h1>
        <p class="text-5xl font-extrabold">Welcome!</p>
      </div>
      <div class="bg-white w-full md:w-1/2 flex flex-col items-center py-32 px-8">
        <h3 class="text-3xl font-bold text-slate-950 mb-4">
          LOGIN
        </h3>
        <div class="w-full flex flex-col justify-center">
          <div class="mb-4">
            <input type="email" required [(ngModel)]="email" [ngModelOptions]="{standalone : true}" placeholder="Email" class="w-full p-3 rounded border text-slate-700 placeholder-gray-400 focus:outline-none focus:border-slate-950" />
          </div>
          <div class="mb-4">
            <input type="password" required [(ngModel)]="password" [ngModelOptions]="{standalone : true}"  placeholder="Password" class="w-full p-3 rounded border text-slate-700 placeholder-gray-400 focus:outline-none focus:border-slate-950" />
          </div>
          <button class="bg-slate-950 font-bold text-white focus:outline-none rounded p-3" type="submit" (click)="login(email, password)">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>